@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
*{
    box-sizing:border-box;
}

body {
    background-color: lightgray;
    display: flex;
    color:#765;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 60vh ;
}

h1{
    color: #001c58;
    font-size: 4rem;
    opacity: 0.3;
    text-align: center;
    font-weight:bold;
}

form{
    max-width: 100%;
    width: 400px;
}

.input{
    font-size: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 1rem 2rem ;
    display: block;
    width: 100%;
    border: none;
    color:#444
}

.input::placeholder {
    color: #b5b5b5;
}

.todos {
   background-color: #fff; 
   padding: 0;
   margin: 0;
   list-style-type: none;
   box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.todos li {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    font-weight: 300;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
}

.todos li.completed {
    color: #b5b5b5;
    text-decoration: line-through;
}

small {
color: #999999;
margin-top: 5rem;
padding: 0 0 0 100px;
}